.Rproj.*
.Rproj.user
*.Rproj
.Rproj.user/5282D6FA/sources/s-22666DCC/147DA4E9
.Rproj.user/5282D6FA/pcs/source-pane.pper
.Rproj.user/5282D6FA/pcs/windowlayoutstate.pper
.Rproj.user/5282D6FA/sources/prop/4A842512
.Rproj.user/5282D6FA/sources/prop/5868C49A
.Rproj.user/5282D6FA/sources/prop/E50AD381
.Rproj.user/5282D6FA/sources/prop/INDEX
.Rproj.user/5282D6FA/sources/s-22666DCC/147DA4E9
.Rproj.user/5282D6FA/sources/s-22666DCC/147DA4E9-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/295A0E03-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/66D67AA2-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/A2A93D42
.Rproj.user/5282D6FA/sources/s-22666DCC/A2A93D42-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/B0BFAFDE-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/B4785321-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/5282D6FA/pcs/source-pane.pper
.Rproj.user/5282D6FA/pcs/windowlayoutstate.pper
.Rproj.user/5282D6FA/sources/prop/4A842512
.Rproj.user/5282D6FA/sources/prop/5868C49A
.Rproj.user/5282D6FA/sources/prop/E50AD381
.Rproj.user/5282D6FA/sources/prop/INDEX
.Rproj.user/5282D6FA/sources/s-22666DCC/147DA4E9
.Rproj.user/5282D6FA/sources/s-22666DCC/147DA4E9-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/295A0E03-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/66D67AA2-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/A2A93D42
.Rproj.user/5282D6FA/sources/s-22666DCC/A2A93D42-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/B0BFAFDE-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/B4785321-contents
.Rproj.user/5282D6FA/sources/s-22666DCC/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/5282D6FA/pcs/source-pane.pper
.Rhistory
